**1-Write a Python program to calculate the length of a string using 2 ways

In [10]:
string = input("plz enter a string : ")
count = 0
for i in string:
        count += 1
print(count)

plz enter a string : boda
4

In [11]:
string = input("plz enter a string : ")
x = len(string)
print (x)

plz enter a string : boda
4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [21]:
char  = input("plz enter a string : ")
if len(char) < 2:
        print ( )
else:
        print (char[:2] + char[-2:])

plz enter a string : abdelrahman
aban

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [21]:
string = input("Enter a string: ")

if len(string) < 3:
    print(string)
elif string[-3:] == 'ing':
    print(string + 'ly')
else:
    print(string + 'ing')

Enter a string: string
stringly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [20]:
word_list = ["apple", "banana", "orange", "kiwi", "strawberry", "blueberry", "grape"]
longest_word = max(word_list)
length_of_longest_word = len(longest_word)

print(longest_word, length_of_longest_word)

strawberry 10

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [90]:
string = "abca"
if len(string) >= 2:
    new_string = string[-1] + string[1:-1] + string[-1]
    print(new_string)

abca

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [57]:
string = "abcd"
result = ""

for i in range(len(string)):
    if i % 2 == 0:
        result += string[i]
print(result)

ac

In [92]:
string ="boda"
string[::2]

'bd'

In [26]:
string = "abca"
result = string[::2]

print(result)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [93]:
sentence = "amr and ahmed are friends but amr is the tallest"


words = sentence_lower.split()

word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

for word, count in word_count.items():
    print(f"{word}: {count}")

amr: 2
and: 1
ahmed: 1
are: 1
friends: 1
but: 1
is: 1
the: 1
tallest: 1

In [94]:
sentence = "amr and ahmed are friends but amr is the tallest"
words =sentence.split()
words = set(words)

for word in words:
  print(word ,sentence.count(word))

ahmed 1
but 1
and 1
the 1
are 1
is 1
friends 1
tallest 1
amr 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [31]:
x = input("Enter a string: ")

print("Upper case: "+ x.upper())

print("Lower case: "+ x.lower())

Enter a string: Boda
Upper case: BODA
Lower case: boda

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [42]:
string = input("Enter a string: ")
if len(string) % 4 == 0:
        rev_string = string[::-1]
        print (rev_string)
else:
        print (string)

Enter a string: boda
adob

**10- Write a Python program to remove a newline in Python

In [3]:
char = input("Enter a string: ")

new_char = char.replace('\n', '')

print(new_char)

Enter a string: fsdnjd dfmslmg
fsdnjd dfmslmg

**11-Write a Python program to check whether a string starts with specified characters

In [6]:
string = input("Enter a string: ")


specified_characters = "a"

if string.startswith(specified_characters):
    print(f"The string starts with specified characters")
else:
    print(f"The string does not start with specified characters")

Enter a string: hjhj
The string does not start with specified characters

**12- Write a Python program to add prefix text to all of the lines in a string

In [7]:
string = input("Enter a string: ")

prefix = "Pre "
new_lines = prefix + string
print(new_lines)

Enter a string: boda
Pre boda

**13-Write a Python program to print the following numbers up to 2 decimal places

In [63]:
num = float(input("Enter a number: "))

print(f"{num:.2f}")

Enter a number: 1.55225
1.55

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [65]:
num = float(input("Enter a number: "))


print(f"{num:+.2f}")

Enter a number: -1254.4146
-1254.41

**15-Write a Python program to display a number with a comma separator

In [74]:
num = 1234567891.89471141
num = float(num)

number = f"{num:,.2f}"

print(number)

1,234,567,891.89

**16-Write a Python program to reverse a string using 2 ways

In [75]:
string = input("enter a string: ")

reversed_string = string[::-1]
print(reversed_string)

enter a string: boda
adob

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [8]:
string = "my name is boda"
d= dict()
for i in string:
    d[i] = 0
for i  in d:
     d[i] = string.count(i)
print(d)

{'m': 2, 'y': 1, ' ': 3, 'n': 1, 'a': 2, 'e': 1, 'i': 1, 's': 1, 'b': 1, 'o': 1, 'd': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
char_count = {}

    
for char in input_string:
     if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

   
    for char in input_string:
        if char_count[char] == 1:
            return char

In [10]:
string = "instant software solution"
for i in string:
  if string.count(i)==1:
     print(i)
     break

w

**19-Write a Python program to remove spaces from a given string

In [76]:
char = input("Enter a string with spaces: ")
new_char = char.replace(" ", "")

print(new_char)

Enter a string with spaces: nbhan jdnakj jdajd
nbhanjdnakjjdajd

**20-Write a Python program to count the number of non-empty substrings of a given string

In [77]:
char = input("Enter a string: ")
length = len(char)
substr_count = length * (length + 1) // 2
print (substr_count)

Enter a string: boda
10

**21-write a Python program to swap first and last element of any list.

In [58]:
lst = ['a', 'b', 'c', 'd', 'e']

if len(lst) >= 2:
    lst[0], lst[-1] = lst[-1], lst[0]

print(lst)

['e', 'b', 'c', 'd', 'a']

In [21]:
l = [1,2,3,4,5]
l[0] , l[-1] = l[-1] , l[0]
l

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [20]:
l = [23, 65, 19, 90]
pos1 =1
pos2 =3
l[pos1] , l[pos2] = l[pos2] , l[pos1]

**23- search for the all ways to know the length of the list

In [13]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)

5

In [80]:
my_list = [1, 2, 3, 4, 5]
count = 0
for i in my_list:
    count += 1
print(count)

5

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [4]:
list = [11, 55, 87, 20, 1, 5]

max_number = max(list)
max_number

87

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [5]:
list = [11, 55, 87, 20, 1, 5]

min_number = min(list)
min_number

1

**26-search for if an elem is existing in list

In [5]:
my_list = [1, 2, 3, 4, 5]

element =int(input("enter a number "))

if element in my_list:
    print(str(element) +" is present in the list.")
else:
    print(str(element) +" is not present in the list.")

enter a number 4
4 is present in the list.

**27- clear python list using different ways

In [2]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print(my_list)

[]

In [1]:
my_list = [1, 2, 3, 4, 5]
my_list = []
my_list

[]

In [2]:
my_list = [1, 2, 3, 4, 5]
del my_list[:]
my_list

[]

**28-remove duplicated elements from a list

In [84]:
list = [1, 4, 2, 3, 4, 5, 5, 6, 5, 9]

new_list = set(list)

print(new_list)

{1, 2, 3, 4, 5, 6, 9}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
###################################################################################################

**30-write a python program to count unique values inside a list using different ways

In [73]:
my_list = [1, 2, 3, 4, 4, 5, 6, 7, 7, 8, 9, 1, 9]
unique_set = set(my_list)
unique_count = len(unique_set)
print( len(my_list)- unique_count  )

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [81]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
count = {}

for i in test_list:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

result_list = [element for element, frequency in count.items() if frequency > K]

print( result_list)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [104]:
def find_strongest_neighbour(arr):
    n = len(arr)

    if n <= 1:
        # If the list has 0 or 1 element, there are no neighbors
        return arr

    result = []

    for i in range(n):
        # Initialize the strongest neighbor as the current element
        strongest = arr[i]

        # Check the left neighbor
        if i > 0 and arr[i - 1] > strongest:
            strongest = arr[i - 1]

        # Check the right neighbor
        if i < n - 1 and arr[i + 1] > strongest:
            strongest = arr[i + 1]

        # Append the strongest neighbor to the result list
        result.append(strongest)

    return result

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [19]:
from itertools import permutations

def print_all_combinations(digits):
   
    all_permutations = permutations(digits)

   
    for permutation in all_permutations:
        print("##", " ".join(map(str, permutation)))

input_digits = list(map(int, input("Enter space-separated digits: ").split()))
print_all_combinations(input_digits)

Enter space-separated digits: 1 2 3
## 1 2 3
## 1 3 2
## 2 1 3
## 2 3 1
## 3 1 2
## 3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [23]:
from itertools import combinations

def generate_combinations_with_condition(test_list):
    result = []

    
    for r in range(1, len(test_list) + 1):
        for combination in combinations(test_list, r):
            result.append(list(combination))

    return result

test_list = [1, 2, 3]
result = generate_combinations_with_condition(test_list)

for sublist in result:
    print(sublist)

[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [97]:
list_1 = ["a", "b"]
list_2 = [1,2]
unique_combinations = []
for i in range(len(list_1)):
    for j in range(len(list_2)):
        unique_combinations.append((list_1[i], list_2[j]))

print(unique_combinations)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [24]:
list = [1, 2, 3, 3, 4, 4 ,4, 4, 4, 4, 7, 7, 5, 3, 5, 4, 1,4]
set(list)

{1, 2, 3, 4, 5, 7}

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [95]:
a = ["gfg", "is" , "best"]
b = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
print("List 1 : " , a)
print("List 2 : " , b)
x = [a[i] for i in b]
print ( x)

List 1 :  ['gfg', 'is', 'best']
List 2 :  [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
['gfg', 'is', 'best', 'is', 'gfg', 'gfg', 'gfg', 'best', 'is', 'is', 'best', 'gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [29]:
val = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
x = [i for i in val if i.count(K) == N]
print(x)

Output 1: [(4, 5, 5, 4)]
Output 2: []

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [94]:
lst = ['id01', 'id10', 'id02', 'id12', 'id03', 'id13']
lst_sorted = sorted(lst, key=lambda x: int(x[2:]))
print(lst_sorted)

['id01', 'id02', 'id03', 'id10', 'id12', 'id13']

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [93]:
input = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

sorted_dict = dict(sorted(input.items()))


print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [100]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}

K = 7

res = {}
for key in test_dict:
    if not (isinstance(test_dict[key], int) and test_dict[key] > K):
        res[key] = test_dict[key]

print("The constructed dictionary : " + str(res))

The constructed dictionary : {'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [102]:
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50,6:60}
d4= {}
for d in (d1,d2,d3): d4.update(d)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [60]:
my_dict = {'name': 'boda', 'age': 21, 'city': 'cairo'}


print("Keys:")
for key in my_dict:
    print(key)


print("\nValues:")
for value in my_dict.values():
    print(value)

Keys:
name
age
city

Values:
boda
21
cairo

**44- Write a Python script to merge two Python dictionaries

In [44]:
def dictionaries(dict1, dict2):
    merged_dict = dict1.copy()
    merged_dict.update(dict2)
    return merged_dict

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict = dictionaries(dict1, dict2)
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 3, 'c': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [48]:
my_dict = {'a': 10, 'b': 4, 'c': 20, 'd': 7}
max_value = max(my_dict.values())
min_value = min(my_dict.values())
print("Maximum Value:", max_value)
print("Minimum Value:", min_value)

Maximum Value: 20
Minimum Value: 4

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [106]:
original_dict = {'a': 10, 'b': '', 'c': None, 'd': 'Hello', 'e': 0}

modified_dict = {key: value for key, value in original_dict.items() if value is not None and value != ''}

print("\nDictionary after dropping empty items:")
print(modified_dict)

Dictionary after dropping empty items:
{'a': 10, 'd': 'Hello', 'e': 0}

**47-Write a Python program to create a tuple of numbers and print one item

In [107]:
numbers_tuple = (1, 2, 3, 4, 5)

index_to_print = 2  
print(f"Item at index {index_to_print}: {numbers_tuple[index_to_print]}")

Item at index 2: 3

**48-Write a Python program to unpack a tuple into several variables

In [90]:
tuple_of_values = (1, 'apple', 3.14, True)

# Unpack the tuple into individual variables
var1, var2, var3, var4 = tuple_of_values

# Print the unpacked variables
print("Unpacked Variables:")
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)
print("var4:", var4)

Unpacked Variables:
var1: 1
var2: apple
var3: 3.14
var4: True

**49-Write a Python program to add an item to a tuple

In [51]:
tuple = (1, 2, 3)
num = 4

new_tuple = tuple + (num,)
print("New Tuple :", new_tuple)

New Tuple : (1, 2, 3, 4)

**50-Write a Python program to convert a tuple to a string

In [52]:
my_tuple = (1, 2, 3, 'a', 'b', 'c')

result_string = ''.join(map(str, my_tuple))

print(result_string)

123abc

**51-Write a Python program to convert a list to a tuple

In [1]:
num = [1, 2, 3, 4, 5]
my_tuple = tuple(num)
my_tuple

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [9]:
tuple = (1, 2, 3, 4)

rev_tuple = tuple[::-1]
rev_tuple

(4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [88]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [108]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

result_string = ''.join(map(str, my_tuple))

print(result_string)

python3.0

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [109]:
test_list = [(1, 4, 5), (7, 8), (2, 4, 10)]
sum = 0
for sub in test_list:
    for i in sub:
        sum = sum + i
res = sum / len(test_list)
print(str(res))

The mean of tuple list is : 13.666666666666666

**56-Write a Python program to add member(s) to a set.

In [53]:

my_set = {1, 2, 3}

my_set.add(4)    #add for 1 

my_set.update([5, 6, 7])  # update for multi

print(my_set)

{1, 2, 3, 4, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [84]:
setx = {"ahmed", "ali", "heidy"}

setx.remove("ahmed")

print(setx)

{'ali', 'heidy'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [83]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
print( A | B)
print( A & B)
print( A - B)
print( A ^ B)

{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{0, 8, 6}
{0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [1]:
seto = {8, 2, 8, 6, 5, 9, 1, 4, 3, 3, 6}

max_value = max( seto )
min_value = min( seto )

print(max_value )
print(min_value )

9
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [110]:
def findPairs(lst, K):
    res = []
    while lst:
        num = lst.pop()
        diff = K - num
        if diff in lst:
            res.append((diff, num))
            res.reverse()
    return res
lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))

[(5, 7), (3, 9)]